body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #f7b4cf;
  margin: 0;

  height: 100vh;              /* fit screen height */
  display: flex;
  flex-direction: column;
  justify-content: center;    /* center vertically */
  align-items: center;        /* center horizontally */
  overflow: hidden;           /* prevent scrolling */
}


h1 {
  margin-top: 10px;
  font-size: 2.2em;
  color: #3b769e;
}

#buttons {
  margin-top: 30px;
}

button {
  padding: 12px 26px;
  font-size: 1.2em;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: all 0.3s;
}

#yesBtn {
  background-color: #ff6699;
  color: white;
}

#noBtn {
  background-color: #f1efef;
  color: black;
}

#message {
  margin-top: 20px;
  font-size: 1.5em;
  color: #333;
}

#picture {
  margin-top: 15px;
  max-width: 220px;
  border-radius: 15px;
}

#heartContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.heart {
  position: absolute;
  color: red;
  font-size: 24px;
  animation: float 2s linear forwards;
}

@keyframes float {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(-500px); opacity: 0; }
}
